<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spookify</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">Spookify API</span>
                        <div class="mb-4 lead">Please visit project page or API specification for more information</div>
                        <a href="https://github.com/theavicaster/spookify" class="btn btn-link">GitHub Project Page</a>
                        <a href="/swagger-ui/" class="btn btn-link">Swagger API Specification</a>
                        <br/>
                        <div class="mb-0">Sample Endpoints</div>
                        <a href="/api/songs/1" class="btn btn-link">Read song by ID</a>
                        <a href="/api/albums" class="btn btn-link">Read all albums</a>
                        <a href="/api/artists/name/john" class="btn btn-link">Search artist by name</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>